name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    name: Build & Release
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/emqx/emqx-builder/6.0-12:1.19.1-28.2-2-debian13

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Build plugin package
        run: make rel

      - name: Get version
        id: version
        run: echo "version=$(cat VERSION)" >> $GITHUB_OUTPUT

      - name: Generate changelog
        id: generate_changelog
        uses: mikepenz/release-changelog-builder-action@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          mode: 'COMMIT'
          configuration: 'changelog.configure.json'

      - name: Upload release asset
        uses: softprops/action-gh-release@v2
        with:
          name: "v${{ steps.version.outputs.version }}"
          body: ${{ steps.changelog.outputs.changelog }}
          draft: false
          prerelease: false
          files: |
            _build/default/emqx_plugrel/client_info_emqx_plugin-${{ steps.version.outputs.version }}.tar.gz
            _build/default/emqx_plugrel/client_info_emqx_plugin-${{ steps.version.outputs.version }}.sha256

